.nav {
    height: 80px;
    width: 100%;
    padding: 20px 10%;  
    background-color: rgba(var(--primary-color) 0.6);
    position: fixed;
    z-index: 2;
    transition: all .3s ease;
  }

  .nav.sticky {
    padding: 10px 10%;
    background: var(--secondary-color);
    box-shadow: 0 0 25px;
    height: 60px;
}
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-style: bold;
    transition: .5s;
    margin-top: 4px;
  }
  
.nav > .nav-header > .nav-title:hover {
        color: #FBDF07;
}
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    position: relative;
    display: flex;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .15em;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 25px 13px 20px;
    text-decoration: none;
    color: #efefef;
    transition: .5s;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 15px;
    color: #FBDF07;
  }

  .nav > .nav-links > .avatar {
    position: relative;
    top: -37px;
    display: flex;
    border-radius: 50%;
    width: 7%;
    height: 6.5%;
    margin-top: 2rem;
    left: 70px;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:1200px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px;
        transition: all .3s ease;
      }
    .nav.sticky > .nav-btn {
      display: flex;
      position: absolute;
      right: 10px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 28px;
      height: 3px;
      transition: .5s;
      background-color: white;
      border-radius: 3px;
      margin-top: 5px;
      transition: all .5s;
    }
    .nav > .nav-btn > label > span:nth-child(1) {
      transform-origin: 0 0;
    }
    .nav > .nav-btn > label > span:nth-child(3) {
      transform-origin: 0 100%;
    }
    .nav > #nav-check:checked ~ .nav-btn > label > span:nth-child(1) {
      transform: rotate(45deg) translate(-1px, -1px);
    }
    .nav > #nav-check:checked ~ .nav-btn > label > span:nth-child(2) {
      transform: scale(0);
    }
    .nav > #nav-check:checked ~ .nav-btn > label > span:nth-child(3) {
      transform: rotate(-45deg) translate(-2px, 0);
    }
    .nav > .nav-links {
      position: absolute;
      text-align: center;
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 60px;
      left: 0px;
    }
    .nav > .nav-links > .avatar {
      position: relative;
      top: 15px;
      display: inline-block;
      border-radius: 50%;
      width: 8vh;
      height: 7%;
      margin-top: 2rem;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      margin-top: 100px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }