.nav {
    height: 80px;
    width: 100%;
    padding: 20px 10%;  
    background-color: rgba(var(--primary-color) 0.6);
    position: fixed;
    z-index: 2;
    transition: all .3s ease;
  }

  .nav.sticky {
    padding: 10px 10%;
    background: var(--secondary-color);
    box-shadow: 0 0 25px;
    height: 60px;
}
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    font-style: bold;
    transition: .5s;
}
  
.nav > .nav-header > .nav-title:hover {
        color: #FBDF07;
}
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .15em;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 25px 13px 10px;
    text-decoration: none;
    color: #efefef;
    transition: .5s;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 15px;
    color: #FBDF07;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:1100px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 14px;
        transition: all .3s ease;
      }
    .nav.sticky > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 3px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      text-align: center;
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      margin-top: 100px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }